<div class="col-md-6 col-md-offset-6" >
  <div class="message-body ">
    <div class="<%= message.user == current_user ? "message-content-me" : "" %>">
      <%= message.content %>
    </div>
    <div class="message-footer">
      <%= message.user.first_name %>
    </div>
  </div>
</div>
