<div class="text-right">
  <div class="message-body">
    <div class="message-content-me">
      <%= discussion.content %>
    </div>
    <div class="message-footer">
      <%= discussion.user.first_name %>
    </div>
  </div>
</div>
