.countdown-text, #bigmsg {
  font-family: Palanquin;
  font-weight: 100;
  font-size: 40px;
}

.red{
  background-color: red;
  color: white;
}

.avatar-photo, .avatar-logo{
  height:100px;
  width: 100px;
  border-radius:50%;
}

.avatar-logo{
background-color: black;

.avatar-img{
height: 40px;
    margin-top: 30px;
}
}

#wrapper-avatar-seduced {
  height: 90vh;

}


#loading_space, #reveal_space {
    font-size: 70px;
  color: #750800;

  .btn-red-custom{
margin-left: 62vh;
font-size: 20px;
  }
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 110px;
  height: 110px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.reveal-seduced{
  transform: rotateY(180deg);
  // box-shadow: -5px 5px 5px #aaa;
}

// #f1_container:hover #f1_card {
//   transform: rotateY(180deg);
//   // box-shadow: -5px 5px 5px #aaa;
// }
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
}

.card-seduced, .card-question, .card-rival {
  font-family: Palanquin;
  position: relative;
  width: 250px;
  margin-left:60vh;
  // background-color: rgb(240,240,240);
  background-color: rgb(70,70,70);
  color: white;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  .generated_text{
    font-weight: 100;
  }
}

.logo_small {
  width:50px;
  height:30px;
}

.gif-space, .gif-space2, .gif-space3{
  background-size: cover;
  height: 62vh;

}

.gif-space{
    margin-top:100px;
  background-image: url("https://media.giphy.com/media/3oEjI1erPMTMBFmNHi/giphy.gif");
}

.gif-space2{
background-image: url("https://media.giphy.com/media/Ov5NiLVXT8JEc/giphy.gif");
    margin-top: 40px;
    background-position: center;

}
.gif-space3{
  background-image: url("https://media.giphy.com/media/l41lKvLqu2xcYX8ly/giphy.gif");
  margin-top: 40px;
  background-position: center;
}

#cardtime, #cardtimeq, #cardtimer{
width:40px;
height:40px;
position: absolute;
top: 5px;
right:5px;
border-radius: 50%;
border-style: solid;
border-width:1px;
font-size:23px;
}

.previous-color{
  background: repeating-linear-gradient(
  45deg,
  rgb(240,240,240),
  rgb(240,240,240) 2px,
  white 2px,
  white 4px
)!important;
}
