// Specific CSS for your home-page

.home-container {
  height: 100vh;
  text-align: center;
}

.maxi-row {
  text-align: center;
  background-color: #e8e8e8;
}

.banner {
  background-size: cover;
  background-position:center center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-items: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  .banner-content{
    height: 90vh;
    display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  align-items:center;
}
  // position: relative;
}
.banner h1 {
  // font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-message{
    font-size: 50px;
  margin-top: 0px;
  padding-top:40px;
  font-weight:lighter;
// position: absolute;
// top: 20px;
// left: 50vh;
}
