// Specific CSS for your home-page

.home-container {
  height: 100vh;
  text-align: center;
}

.maxi-row {
  text-align: center;
  background-color: #e8e8e8;
}

.underline {
   border-bottom: 1px solid;
}

.icon {
color: rgba(255,255,255,0.7);
  height: 40px;
}

.feature-item{
  text-align:center;
background-color: #3A718C;
color: rgba(255,255,255,0.7);

height:150px;
h3{
  padding-top: 15px;
margin:0px;
}
p{
  color: rgba(255,255,255,0.4);
  font-weight: lighter;
      padding-top: 15px;
          font-style: italic;

}
}

.banner-home {
  background-size: cover;
  background-position:center center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-items: center;
  height: calc(100vh - 70px);

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  .banner-content{
    height: 80vh;
    display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  align-items:center;
}


  // position: relative;

}

.banner-home p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-message{
  font-size: 50px;
  margin-top: 0px;
  padding-top:40px;
  font-weight:lighter;
  color: rgba(255,255,255,0.6);
// position: absolute;
// top: 20px;
// left: 50vh;
}
.quotes {display: none;}



