.container-all {
  margin: 0 auto;
  max-width: 100%;
}

.container-messenger{
  background-color:#750800;
  margin-top: 0px;
  padding-top: 10px;
  height: 100vh;
}

.container-messages{
  position: relative;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  min-height: 662px;
  max-width: 1000px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px -110px #f4f4f4;

  form {
    padding: 0 20px;
  }

  label {
    opacity: 0;
  }

  .gif-space {
    height: 100%;
    background-size: cover;
    margin-top:50px;
    background-image: url("https://media.giphy.com/media/3oEjI1erPMTMBFmNHi/giphy.gif");
  }

  .body-container-messages{
    min-height: 490px;
    overflow: auto;
    text-align: center;
    position: relative;
  }

.header-messenger{

  text-align: center;
  color: rgb(100,100,100);
  margin:0px;
  position: relative;

  h2{
      //   padding-top: 15px;
      // padding-bottom: 10px;
     font-family: 'Satisfy';
    letter-spacing: 0.3px;
    color: black;
  font-size: 25px;
  margin:10px;
  padding:10px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,100,100);
  }
}

.avatar-time{
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 8px;
  right: 5px;
  font-size:20px;
}

.container-card-seduced,
.card-question,
.card-rival {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.msg-manche{
 position: absolute;
  top: 15px;
  right: 85px;
  font-size: 13px;
}

.text-right{
  display: flex;
  justify-content: flex-end;
}

.text-left{
  display: flex;
  justify-content: flex-start;
}

.message-content-admin{
  position: absolute;
  bottom: 69px;
  left: 30px;
  font-size:20px;
}

.counter-heart-grey, .counter-heart-blue {
  position: absolute;
  top: 5px;
  font-size:35px;
}

 .count-heart-grey, .count-heart-blue {
    position: absolute;
  top: 10px;
      font-size:18px;
      font-weight: 100;
 }

  .count-heart-grey {
  left: 22px;
  color: black;
  }

.count-heart-blue {
  left: 59px;
  color: white;
}



 .counter-heart-grey{
  left: 10px;
  color:#e2e0e0;
  }

  .counter-heart-blue{
  left: 47px;
  color:#0245A3;
  }
}



.message-content-me, .message-content-rival, .message-content-admin, .message-content-seduced {
  font-family: Palanquin;
  font-weight: 100;
}
.message-content-me, .message-content-rival, .message-content-seduced  {
  width: 40vh;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: 40px;
  padding: 8px;
  text-align:left;
}
.message-content-me{
  color: white;
  background-color: #0245A3;
  padding-left: 25px;
  margin-left: 15px;
}


.message-seduced {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .message-content-seduced {
    color: white;
    background-color: #750800;
    text-align:center;
  }
}
.message-content-rival{
  color: black;
  background-color: #e2e0e0;
  padding-left: 25px;
  margin-left: 7px;
}

.message-content-admin{
  // color: rgb(150,150,150);
// color: #28CC9E;
font-family: Satisfy;
color: #750800;
font-weight: bolder;
font-size: 20px;
}

.message-footer, .message-footer-rival, .message-footer-seduced{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(200,200,200);
  font-family: 'Satisfy';
}

.message-footer{
  text-align: center;
}

.message-footer{
position: relative;
margin-top:0px;
height:20px;
  .first-name{
    position: absolute;
    right: 5px;
  // margin-right: 17px;
  // text-align: right;
}
        .fa-heart{
              position: absolute;
              top: 5px;
    left: 5px;
    padding-right: 220px;
    font-size: 23px;
    color: #750800;
  }
}

.message-footer-rival{
  .first-name{
   margin-left: 25px;
  text-align: left;
  }

      .fa-heart{
    padding-left: 220px;
    font-size: 23px;
    color: #750800;
  }
}

abbr {
  color:transparent;
}
