.container-messenger{
  background-color:#750800;
  margin-top: 0px;
  padding-top: 10px;
  height: 100vh;
}

.header-messenger{
  text-align: center;
  color: rgb(100,100,100);
  margin:0px;
  position: relative;
  h2{
    letter-spacing: 0.3px;
    color: black;
  font-size: 25px;
  margin:10px;
  padding:5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(200,200,200);
  }
}

.avatar-time{
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size:20px;
}

.text-right{
  margin-left: 115vh;
}

.text-left{
  margin-right: 80vh;
}

.message-content-admin{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size:25px;
  }

.container-messages{
  margin-left:60px;
  margin-top: 0px;
  width: 160vh;
  padding: 10px;
  padding-top: 0px;
  height: 85vh;
  background-color: white;
  border-radius: 5px;
  .body-container-messages{
    height: 72vh;
    overflow: auto;
    text-align: center;
    position: relative;
  }
}



.message-content-me, .message-content-rival, .message-content-admin, .message-content-seduced {
  font-family: Palanquin;
  font-weight: 100;
}
.message-content-me, .message-content-rival, .message-content-seduced  {
  width: 40vh;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: 40px;
  padding: 8px;
  text-align:left;
}
.message-content-me{
  color: white;
  background-color: #0084FF;
  padding-left: 25px;
  margin-left: 15px;
}

.message-content-seduced {
  color: white;
  background-color: #E20049;
    margin-left: 60vh;
    text-align:center;
margin-top:20px;
}
.message-content-rival{
  color: black;
  background-color: #e2e0e0;
  padding-left: 25px;
  margin-left: 35px;
}

.message-content-admin{
  // color: rgb(150,150,150);
// color: #28CC9E;
color: #750800;
font-weight: bolder;
font-size: 20px;
}

.message-footer, .message-footer-rival, .message-footer-seduced{
  font-size: 15px;
  color: rgb(200,200,200);
}

.message-footer{
  text-align: center;
}


.message-footer{
  margin-right: 50px;
  text-align: right;
}

.message-footer-rival{
  margin-left: 50px;
  text-align: left;
}

abbr {
  color:transparent;
}
