.finalinscription {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #750800;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  color: white;
}

.finalinscription-text {
  margin: auto;
}

.victories-defeats {
  color: red;
}

.form-inputs {
  margin-top: 50px;
}

.banner-home-profile {
  background-size: cover;
  background-position:center center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-items: center;
  height: 100vh;
}

.radio {
  margin : 20px;
  border: solid;
  color : white;
  padding: 3px;
  border-radius: 8px;
}

.radio:hover {
  opacity: 1;
  background: #DB1D1D;
  text-decoration: none;
  color: white;
}



.radio.active {
  background-color: #b7b7b7;
}


.radio_buttons {
  padding: 8px;
  .required {
    display: none;
  }
}


.form-inline .radio, .form-inline .checkbox {
  margin-bottom: 23px;
}

