<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,36,0.6) 50%), url(<%= image_path 'fille.jpg'%>);">

         <%= render 'shared/navbar' %>



      <div class="banner-content">
        <h1 class ="banner-message quotes" >Une plume, un adversaire, un vainqueur.</h1>
        <h1 class ="banner-message quotes" >La séduction est une compétition.</h1>
        <h1 class ="banner-message quotes" >Enfin. Le retour de la séduction.</h1>
        <h1 class ="banner-message quotes" >Séduire, briller, triompher.</h1>
        <h1 class ="banner-message quotes" >La séduction est un spectacle, sois le meilleur acteur.</h1>



        <% if user_signed_in? %>
          <%= link_to "Jouer", new_user_challenge_path(current_user), class: "btn-red-custom btn-lg active" %>
        <% else %>
          <%= link_to "Jouer", new_user_session_path, class: "btn-red-custom btn-lg active" %>
        <% end %>
      </div>
    </div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

  <div class="container-carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="feature-item">
            <h3><span class="underline">Humilie</span> tes adversaires</h3>
            <p class="text-muted">« Te voila dans l'arène, brille par ton éloquence et fait tourner les têtes.
            La victoire est à portée de mots. »</p>
      </div>
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <div class="feature-item">
          <h3 id="regles"> <span class="underline">Sublime</span> ton éloquence</h3>
          <p class="text-muted">« A visage masqué, joute contre d'autres prétendant.e.s et gagne les faveurs de ton public. Attrape les tous.tes. »</p>
      </div>
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <div class="feature-item">
          <h3><span class="underline">Entretiens</span> tes conquêtes</h3>
          <p class="text-muted">«  Les victoires te donnent la possibilité d'entrer en contact avec tes conquêtes. C'est le moment de se mettre bien. »</p>
      </div>
    <div class="carousel-caption">
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Courtisan, le retour de la séduction <i class="fa fa-heart"></i>
  </div>
</div>












