  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,36,0.6) 50%), url(<%= image_path 'fille.jpeg'%>);">
      <div class="banner-content">
        <h1 class ="banner-message quotes" >Une plume, un adversaire, un vainqueur.</h1>
        <h1 class ="banner-message quotes" >La séduction est une compétition.</h1>
        <h1 class ="banner-message quotes" >Enfin. Le retour de la séduction.</h1>
        <h1 class ="banner-message quotes" >Séduire, briller, triompher.</h1>
        <h1 class ="banner-message quotes" >La séduction est un spectacle, sois le meilleur acteur.</h1>



        <h1 class ="banner-message quotes" ></h1>


        <a href="#" class="btn-red-custom btn-lg active" role="button" aria-pressed="true">S'inscrire</a>
      </div>
    </div>


                      <div class="maxi-row">
                      <div class="row">
                              <div class="col-md-offset-3 col-md-6">
                                  <div class="feature-item">
                                      <h3 id="regles">Sublime ton éloquence</h3>
                                      <p class="text-muted">A visage masqué, joute contre d'autres prétendant.e.s et gagne les faveurs de ton public. Attrape les tous.tes !!</p>
                                  </div>
                            </div>
                          </div>


                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="feature-item">
                                      <h3>Humilie tes adversaires</h3>
                                      <p class="text-muted">Te voila dans l'arène, brille par ton éloquence et fait tourner les têtes.
                                          La victoire est à portée de mots.</p>
                                  </div>
                              </div>
                          </div>

                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="feature-item">
                                    <h3>Entretiens tes conquêtes</h3>
                                    <p class="text-muted"> Les victoires te donnent la possibilité d'entrer en contact avec tes conquêtes. C'est le moment de se mettre bien </p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Courtisan, enfin le retour de la séduction <i class="fa fa-heart"></i>
  </div>
</div>




