<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,36,0.6) 50%), url(<%= image_path 'fille.jpg'%>);">

<h1 class ="banner-message" >Votre requête n'est pas digne d'un courtisan. Réessayez autrement, si vous en êtes capable.</h1>
