
<div class="container-messenger" id="container-messenger" >


  <div class="container-messages">
  <div class="header-messenger">
            <span class="message-content-admin" id = "msgadmin">
            Le duel va commencer...
          </span>

  <h2> Round 1 </h2>

    <span class="avatar-time hide" id="smalltime"> start! </span>

</div>
<div class="body-container-messages">
<span id = "bigtime">03</span>


    <div class="row">
      <% @challenge.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>
    
  <div class="container-input hide" id= "typebox">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        <%= simple_form_for [@challenge, @message], remote: true do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: "" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    App.messages = App.cable.subscriptions.create('MessagesChannel', {
      received: function(data) {
        console.log(data);
         $("#messages").removeClass('hidden')
    return $('#messages').append(this.renderMessage(data));
  },

  renderMessage: function(data) {
    return "<p> <b>" + data.user + ": </b>" + data.message + "</p>";
  }
});

        // récupérer le conteneur des messages
        // append le dernier message dedans

  </script>
<% end %>





