.btn-red-custom {
  font-weight: lighter;
  font-family: Satisfy;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  // font-weight: bold;
  background: #750800;
  // margin-top: 50vh;
  transition: background 0.3s ease;
  width: 200px;
  margin-bottom: 100px;
}
.btn-red-custom:hover {
  opacity: 1;
  background: #DB1D1D;
  text-decoration: none;
  color: white;
}

.radio.active {
  background-color: red;
}
